<section class="module bg-dark-60 shop-page-header" data-background="assets/images/shop/product-page-bg.jpg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Галерия от градове</h2>
          <div class="module-subtitle font-serif">Разгледайте подбрани градове от нас, които изглеждат великолепно погледнати отгоре</div>
        </div>
      </div>
    </div>
  </section>
  <section class="module-small">
    <div class="container">
      <form class="row">
        <div class="col-sm-4 mb-sm-20">
          <select class="form-control">
            <option selected="selected">Сортирано подразбиране</option>
            <option>Популярност</option>
            <option>Най-нови</option>
          </select>
        </div>
        <div class="col-sm-2 mb-sm-20">
          <select class="form-control">
            <option selected="selected">Woman</option>
            <option>Man</option>
          </select>
        </div>
        <div class="col-sm-3 mb-sm-20">
          <select class="form-control">
            <option selected="selected">All</option>
            <option>Coats</option>
            <option>Jackets</option>
            <option>Dresses</option>
            <option>Jumpsuits</option>
            <option>Tops</option>
            <option>Trousers</option>
          </select>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-block btn-round btn-g" type="submit">Приложи филтър</button>
        </div>
      </form>
    </div>
  </section>
  <hr class="divider-w">
  <section class="module-small">
    <div class="container">
      <div class="row multi-columns-row">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="shop-item">
            <div class="shop-item-image"><img src="assets/images/cities/sofia.png" alt="Men’s Casual Pack"/>
              <div class="shop-item-detail"><a class="btn btn-round btn-b"><span class="icon-basket">Преглед</span></a></div>
            </div>
            <h4 class="shop-item-title font-alt"><a href="#">София</a></h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="shop-item">
              <div class="shop-item-image"><img src="assets/images/cities/istanbul.png" alt="Men’s Casual Pack"/>
                <div class="shop-item-detail"><a class="btn btn-round btn-b"><span class="icon-basket">Преглед</span></a></div>
              </div>
              <h4 class="shop-item-title font-alt"><a href="#">София</a></h4>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12  d-flex justify-content-center">
          <div class="pagination font-alt"><a href="#"><i class="fa fa-angle-left"></i></a><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#"><i class="fa fa-angle-right"></i></a></div>
        </div>
      </div>
    </div>
  </section>