<div class="container-fluid">
  <div class="row d-flex justify-content-cente">
    <div class="col-sm-4" style="background-color: #ffffff !important;">
      <div class="row p-4">
        <h4 class="font-alt">Настройки</h4><br />
        <mat-stepper class="example-stepper w-100" style="max-height: 700px; min-height: 700px; overflow-y: auto;"
          [orientation]="(stepperOrientation | async)!">
          <mat-step [stepControl]="firstFormGroup" label="Избери дизайн">
            <form [formGroup]="firstFormGroup">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <button class="text-end" mat-button matStepperNext>Следваща стъпка</button>

                    <hr class="divider-w">
                    <div role="tabpanel">
                      <ul class="nav nav-tabs font-alt pt-20" role="tablist">
                        <li class="active"><a href="#support" data-toggle="tab" data-toggle="modal"
                            data-target="#changeTab"> <i class="fa fa-plane fa-lg"></i>Пътуване
                            със самолет</a></li>
                        <li data-toggle="modal" data-target="#changeTab"><a href="#sales" data-toggle="tab"> <i
                              class="fa fa-car fa-lg"></i>Пътуване с кола</a>
                        </li>
                        <li data-toggle="modal" data-target="#changeTab"><a href="#map-view" data-toggle="tab"> <span
                              class="icon-map fa-lg" aria-hidden="true"></span>Изглед</a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="support">
                          <app-choose-location-plane [map]='map'></app-choose-location-plane>
                        </div>
                        <div class="tab-pane" id="sales">
                          <app-choose-location-car [map]='map'></app-choose-location-car>
                        </div>
                        <div class="tab-pane" id="map-view">
                          <app-choose-view [map]='map'></app-choose-view>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" label="Избери рамка">
            <div class="container-fluid">
              <app-choose-align (changeMapAlignEvent)='changeMapAlign($event)'></app-choose-align>
              <hr>
              <app-choose-map-style [map]='map'></app-choose-map-style>
              <h4 class="font-alt pb-0 mb-0">Детайли на картата</h4><br />
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <mat-slide-toggle>Имена на дръжави</mat-slide-toggle><br>
                  <mat-slide-toggle>Имена на градове</mat-slide-toggle><br>
                  <mat-slide-toggle>Улици</mat-slide-toggle>
                </div>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Резултат</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
    <div class="col-sm-8 d-flex justify-content-center p-5" style="background-color: #f0eeee;">
      <div class="container-fluid h-100">
        <div class="row row h-100 justify-content-center align-items-center">
          <div class=" border rounded w-100 px-0 mt-5" [ngClass]="{
            'phone_view_horizontal_map col-sm-11': (align==1 && innerWidth < 550),
            'big_screen_view_horizontal_map col-sm-11': (align==1 && innerWidth > 550),
            'phone_view_vertical_map col-sm-7': (align==2 && innerWidth < 550),
            'big_screen_view_vertical_map col-sm-7': (align==2 && innerWidth > 550)
          }"
            style='box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;'>
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="changeTab" tabindex="-1" role="dialog" aria-labelledby="changeTabLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changeTabLabel">Сигурни ли сте че искате да изберете друга категория?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          При смяна на категория се изчистват всички въведени данни от сегашната категория.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отказ</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
            (click)='changeVisualizationType()'>Продължи</button>
        </div>
      </div>
    </div>
  </div>