<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <div id="startPoint" class="geocoder"></div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12 d-flex justify-content-center">
            <div id="endPoint" class="geocoder"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-5">
            <div class="large-text align-center"><a class="section-scroll" href="#services"><i
                        class="fa fa-plus-circle"></i></a></div>
        </div>
    </div>
</div>