<div class="main" style="min-height: 900px;">
  <section class="pt-50">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5" style="background-color: #e9e9e9; min-height: 100%;">
          <h4 class="font-alt">Настройки</h4><br />
          <mat-stepper class="example-stepper" style="max-height: 700px; min-height: 700px; overflow-y: auto;"
            [orientation]="(stepperOrientation | async)!">
            <mat-step [stepControl]="firstFormGroup" label="Избери дизайн">
              <form [formGroup]="firstFormGroup">
                <div>
                  <div class="row multi-columns-row">
                    <hr class="divider-w">
                    <div role="tabpanel">
                      <ul class="nav nav-tabs font-alt pt-20" role="tablist">
                        <li class="active"><a href="#support" data-toggle="tab"> <i
                              class="fa fa-plane fa-lg"></i>Пътуване със самолет</a></li>
                        <li><a href="#sales" data-toggle="tab"> <i class="fa fa-car fa-lg"></i>Пътуване с кола</a></li>
                        <li><a href="#map-view" data-toggle="tab"> <span class="icon-map fa-lg"
                              aria-hidden="true"></span>Изглед</a></li>
                      </ul>
                      <div class="tab-content">

                        <div class="tab-pane active" id="support">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="from-plane">От</label>
                                <input class="form-control" id="from-plane" type="text" name="name"
                                  placeholder="София" />
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="name">До</label>
                                <input class="form-control" id="to-plane" type="text" name="name"
                                  placeholder="Бургас " />
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-sm-2 col-sm-offset-5">
                              <div class="large-text align-center"><a class="section-scroll" href="#services"><i
                                    class="fa fa-plus-circle"></i></a></div>
                            </div>
                          </div>

                        </div>
                        <div class="tab-pane" id="sales">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="from-plane">От</label>
                                <input class="form-control" id="from-plane" type="text" name="name"
                                  placeholder="София" />
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="name">До</label>
                                <input class="form-control" id="to-plane" type="text" name="name"
                                  placeholder="Бургас " />
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-sm-2 col-sm-offset-5">
                              <div class="large-text align-center"><a class="section-scroll" href="#services"><i
                                    class="fa fa-plus-circle"></i></a></div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane" id="map-view">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input class="form-control" id="from-plane" type="text" name="name"
                                  placeholder="София" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button mat-button matStepperNext>Следваща стъпка</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Избери рамка">
              <div class="container">
                <div class="row">
                  <h4 class="font-alt pb-0 mb-0">Изберете дизайн на картата</h4><br />
                  <hr>
                  <div class="col-sm-5">

                    <div class="card col-sm-4 ">
                      <img class="card-img-top" src="assets/images/map-design-1.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="text-center">Card title</h5>
                      </div>
                    </div>
                    <div class="card col-sm-4 w-100">
                      <img class="card-img-top" src="assets/images/map-design-1.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="text-center">Card title</h5>
                      </div>
                    </div>
                    <div class="card col-sm-4 w-100">
                      <img class="card-img-top" src="assets/images/map-design-1.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="text-center">Card title</h5>
                      </div>
                    </div>
                    <div class="card col-sm-4 w-100">
                      <img class="card-img-top" src="assets/images/map-design-1.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="text-center">Card title</h5>
                      </div>
                    </div>
                    <div class="card col-sm-4 w-100">
                      <img class="card-img-top" src="assets/images/map-design-1.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="text-center">Card title</h5>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <hr>
                  <h4 class="font-alt pt-3">Детайли на картата</h4><br />
                  <hr>
                  <div class="col-sm-5">
                    <mat-slide-toggle>Имена на дръжави</mat-slide-toggle><br>
                    <mat-slide-toggle>Имена на градове</mat-slide-toggle><br>
                    <mat-slide-toggle>Улици</mat-slide-toggle>
                  </div>
                </div>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Резултат</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
              </div>
            </mat-step>
          </mat-stepper>
        </div>
        <div class="col-sm-7" style="background-color: red; min-height: 80%; height: 700px;">
          <div id="map" class="match-parent pt-20"></div>
        </div>
      </div>
    </div>
  </section>
</div>