<div class="container-fluid">
  <div class="row d-flex justify-content-cente">
    <div class="col-sm-4" style="background-color: #ffffff !important;">
      <div class="row p-4">
        <h4 class="font-alt">Настройки</h4><br />
        <mat-stepper class="example-stepper w-100" style="max-height: 700px; min-height: 700px; overflow-y: auto;"
          [orientation]="(stepperOrientation | async)!">
          <mat-step [stepControl]="firstFormGroup" label="Избери дизайн">
            <form [formGroup]="firstFormGroup">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <button class="text-end" mat-button matStepperNext>Следваща стъпка</button>

                    <hr class="divider-w">
                    <div role="tabpanel">
                      <ul class="nav nav-tabs font-alt pt-20" role="tablist">
                        <li class="active"><a href="#support" data-toggle="tab"> <i
                              class="fa fa-plane fa-lg"></i>Пътуване
                            със самолет</a></li>
                        <li><a href="#sales" data-toggle="tab"> <i class="fa fa-car fa-lg"></i>Пътуване с кола</a>
                        </li>
                        <li><a href="#map-view" data-toggle="tab"> <span class="icon-map fa-lg"
                              aria-hidden="true"></span>Изглед</a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="support">
                          <app-choose-location-plane [map]='map' [startPoint]='startPoint' [endPoint]='endPoint'></app-choose-location-plane>
                        </div>
                        <div class="tab-pane" id="sales">
                          <!-- <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="from-plane">От</label>
                                <div id="endPoint" class="geocoder col-sm-5" style="min-width: 300px !important;"></div>

                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="name">До</label>
                                <div id="startPoint" class="geocoder col-sm-5"></div>

                              </div>
                            </div>
                          </div> -->

                          <div class="row">
                            <div class="col-sm-2 col-sm-offset-5">
                              <div class="large-text align-center"><a class="section-scroll" href="#services"><i
                                    class="fa fa-plus-circle"></i></a></div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane" id="map-view">
                          <div class="row" style="height: 500px;">
                            <div class="col-sm-12">
                              <div class="row">

                                <label m-5>Изберете локация</label>
                              </div>
                              <!-- <div class="row w-50">
                                <div class="col-sm-5">
                                  <div id="startPoint" class="geocoder w-25"></div>
                                </div>
                                <div class="col-sm-5">

                                  <div id="endPoint" class="geocoder col-sm-5"></div>
                                </div>

                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" label="Избери рамка">
            <div class="container-fluid">
              <h4 class="font-alt pb-0 mb-0">Изберете подравняване</h4><br />
              <hr>
              <div class="row">

                <div class="col-sm-12">
                  <div class="card col-sm-3 ml-3">
                    <img class="card-img-top  pt-3" src="assets/images/map-design-1.png" alt="Card image cap">
                    <h5 class="text-center">Card title</h5>
                  </div>
                  <div class="card col-sm-3 ml-3">
                    <img class="card-img-top  pt-3" src="assets/images/map-design-1.png" alt="Card image cap">
                    <h5 class="text-center">Card title</h5>
                  </div>
                  <div class="card col-sm-3 ml-3">
                    <img class="card-img-top  pt-3" src="assets/images/map-design-1.png" alt="Card image cap">
                    <h5 class="text-center">Card title</h5>
                  </div>
                </div>
              </div>
              <h4 class="font-alt pb-0 mb-0">Изберете дизайн на картата</h4><br />
              <hr>
              <div class="row">

                <div class="col-sm-12">
                  <div class="card col-sm-3 ml-2">
                    <img class="card-img-top  pt-3" src="assets/images/map-design-1.png" alt="Card image cap">
                    <h5 class="text-center">Card title</h5>
                  </div>
                  <div class="card col-sm-3 ml-2">
                    <img class="card-img-top" src="assets/images/map-design-1.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="text-center">Card title</h5>
                    </div>
                  </div>
                  <div class="card col-sm-2 ml-2">
                    <img class="card-img-top" src="assets/images/map-design-1.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="text-center">Card title</h5>
                    </div>
                  </div>
                  <div class="card col-sm-2 ml-2">
                    <img class="card-img-top" src="assets/images/map-design-1.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="text-center">Card title</h5>
                    </div>
                  </div>
                </div>
              </div>
              <h4 class="font-alt pb-0 mb-0">Детайли на картата</h4><br />
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <mat-slide-toggle>Имена на дръжави</mat-slide-toggle><br>
                  <mat-slide-toggle>Имена на градове</mat-slide-toggle><br>
                  <mat-slide-toggle>Улици</mat-slide-toggle>
                </div>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Резултат</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
    <div class="col-sm-8 d-flex justify-content-center p-5" style="background-color: #f0eeee;">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-sm-7 border rounded w-100 px-0 mt-5"
            style='box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;height: 65rem;'>
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>